@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
@import '~material-icons/iconfont/material-icons.css'
.bgx
  background-image: linear-gradient(322deg,#da2b2b 20%,#000000 78%)

.color-inherit
  color: inherit
  background-color: inherit

.content img
  max-width 100%